{% extends "base.html" %}

{% block body %}

<div class="container-fluid rounded" style="background-color:white; width:75%">
    <div class="row mt-4">
        <!-- <div class="col-md-2 bg-dark position-fixed" style="margin-top:1px;">
            <nav class="nav flex-column  vh-100 p-2" style="color:white;">
                <p>
                <a href="{{ url_for('profile') }}" style="color:white;"><i class="fas fa-user fa"></i>   {{ current_user.username}} </a>
                </p>
                <a class="bg-dark" style="color:white;" data-toggle="collapse" href="#pendingPetitions" role="button" aria-expanded="false" aria-controls="pendingPetitions">
                    <i class="fas fa-list"></i>  Últimes peticions
                </a>
                </p>
                <div class="collapse" id="pendingPetitions">
                    <div class="card card-body bg-dark">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
              <a class="bg-dark" style="color:white;" data-toggle="collapse" href="#pendingSamples" role="button" aria-expanded="false" aria-controls="pendingSamples">
                <i class="fas fa-vials"></i>  Últimes mostres
              </a>
              </p>
              <div class="collapse" id="pendingSamples">
                <div class="card card-body bg-dark">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a class="bg-dark" style="color:white;" data-toggle="collapse" href="#configPanel" role="button" aria-expanded="false" aria-controls="configPanel">
                <i class="fas fa-cog"></i>  Panells
              </a>
              </p>
            </nav>
        </div> -->
        <!-- <div class="col-xs-8 offset-3"> -->
        <div class="col">
            <!-- This is the Complete option form -->
            <form action="/uploads" method="POST" enctype="multipart/form-data" id="complete_form">
                <div class="row">
                    <div class = "col-sm">
                        <div class="card card-body border-0 m-2" style="background-color:#f6f6f6">

                            <div class="d-flex align-items-baseline">
                                <div class="p-1">
                                    <div class="numberCircle">1</div>
                                </div>
                                <div class="p-1">
                                    <div><b>Penja els arxius FASTQ</b></div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Selecciona</span>
                                </div>
                                <!-- Here is the input file type -->
                                <div class="custom-file">
                                    <input oninput="filesize(this);" type="file" name="fastqs" class="custom-file-input" id="inputGroupFile01" multiple>
                                    <label class="custom-file-label" id="fastqs_label" for="inputGroupFile01"></label>
                                </div>
                            </div>
                        </div>

                        <div class="card card-body border-0 m-2" style="background-color:#f6f6f6">

                            <div class="d-flex align-items-baseline">
                                <div class="p-1">
                                    <div class="numberCircle">2</div>
                                </div>
                                <div class="p-1">
                                    <div><b>(Opcional) Penja el fitxer de laboratori</b></div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Selecciona</span>
                                </div>
                                <!-- Here is the input file type -->
                                <div class="custom-file">
                                    <input oninput="filesize(this);" type="file" name="lab_file" class="custom-file-input" id="lab_file_id" multiple>
                                    <label class="custom-file-label" id="lab_file_label" for="lab_file_id"></label>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class = "col-sm">
                        <div class="card card-body border-0 m-2" style="background-color:#f6f6f6">

                            <div class="d-flex align-items-baseline">
                                <div class="p-1">
                                    <div class="numberCircle">3</div>
                                </div>
                                <div class="p-1">
                                    <div><b>Panell de gens</b></div>
                                </div>
                            </div>
                            <p>Selecciona un panell de gen predefinit o carrega un panell custom:</p>
                            <br>
                            <div>
                            <b>Gencardio-Dx</b>
                            <select class="custom-select" name="select_panel" id="select_panel">
                                <option value="0" selected>Selecciona un panell</option>
                                <option value="GenOncology-Dx.v1">GenOncology-Dx.v1</option>
                            </select>
                            <br><br>
                            </div>
                            <b>Custom panel</b>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Carrega arxiu BED</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="custom_bed" id="custom_bed">
                                    <label class="custom-file-label" for="custom_bed"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm">
                        <div class="card card-body border-0 m-2" style="background-color:#f6f6f6">

                            <div class="d-flex align-items-baseline">
                                <div class="p-1">
                                    <div class="numberCircle">4</div>
                                </div>
                                <div class="p-1">
                                    <div><b>Envia un anàlisi</b></div>
                                </div>
                            </div>
                            <p>Introdueix un identificador d'anàlisi únic:</p>
                            <br>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name ="job_id" id="job_id" placeholder="Job ID">
                            </div>
                            <hr>
                            <div class="accordion" id="AdvanceComplete" aria-expanded="false">
                                <div class="card border-0" style="background-color:#f6f6f6">
                                <div class="card-header" id="headingTwoTwo" style="background-color:#f6f6f6">
                                <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                                    Opcions avançades
                                </button>
                                    <div id="collapseTwoTwo" class="collapse" aria-labelledby="headingTwoTwo" data-parent="#AdvanceComplete">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <b>SNV & INDEL calling:</b>
                                                            <br>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked" id="gatk" name="gatk" class="custom-control-input">
                                                                <label class="custom-control-label active" for="gatk">GATK</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked" id="freebayes" name="freebayes" class="custom-control-input">
                                                                <label class="custom-control-label active" for="freebayes">FreeBayes</label>
                                                            </div>
                                                            <br>
                                                            <br>
                                                            <fieldset>
                                                                <b>CNV / SV calling:</b><br>
                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="cnvkit" name="cnvkit" class="custom-control-input">
                                                                    <label class="custom-control-label" for="cnvkit">cnvKit</label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="manta" name="manta" class="custom-control-input">
                                                                    <label class="custom-control-label" for="manta">Manta</label>
                                                                </div>
                                                            </fieldset>
                                                            <br>
                                                            <b>Population databases:</b><br>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked" id="1KGenomes" name="1KGenomes" class="custom-control-input">
                                                                <label class="custom-control-label active" for="1KGenomes">1KGenomes</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked" id="gnomad" name="gnomad" class="custom-control-input">
                                                                <label class="custom-control-label active" for="gnomad">gnomAD v2.1</label>
                                                            </div>
                                                            <br>
                                                            <br>
                                                            <b><i>In silico</i> predictors:</b><br>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked"  id="sift" name="sift" class="custom-control-input">
                                                                <label class="custom-control-label active" for="sift">SIFT</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked" id="polyphen" name="polyphen" class="custom-control-input">
                                                                <label class="custom-control-label active" for="polyphen">Polyphen</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked" id="mutationtaster" name="mutationtaster" class="custom-control-input">
                                                                <label class="custom-control-label active" for="mutationtaster">MutationTaster</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked" id="provean" name="provean" class="custom-control-input">
                                                                <label class="custom-control-label active" for="provean">PROVEAN</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" checked="checked" id="revel" name="revel" class="custom-control-input">
                                                                <label class="custom-control-label active" for="revel">REVEL</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" id="cadd" name="cadd" class="custom-control-input">
                                                                <label class="custom-control-label" for="cadd">CADD</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" id="fathmm" name="fathmm" class="custom-control-input">
                                                                <label class="custom-control-label" for="fathmm">FATHMM</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" id="lrt" name="lrt" class="custom-control-input">
                                                                <label class="custom-control-label" for="lrt">LRT</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" id="eigen" name="eigen" class="custom-control-input">
                                                                <label class="custom-control-label" for="eigen">Eigen</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" id="mutpred" name="mutpred" class="custom-control-input">
                                                                <label class="custom-control-label" for="mutpred">MutPred</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                                <input type="checkbox" id="metasvm" name="metasvm" class="custom-control-input">
                                                                <label class="custom-control-label" for="metasvm">MetaSVM</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                    </div>
                                </div>
                                </div>
                                <hr>
                                <button class="btn btn-primary mb-2" type="submit" id="submit_analysis" >Envia</button>
                                <button class="btn btn-secondary mb-2" type="reset">Reset</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class = "container" style="width:35%; float:right;">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            <br>
                    </div>
                    {% endfor %}

                    {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
</div>
{% block script %}
 <script>
    $(document).ready(function() {
        $("#submit_analysis").click(function() {
            // disable button
            $(this).prop("disabled", true);
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Uploading...`
            );
        });
    });
    $.ajax({
  xhr: function() {
    var xhr = new window.XMLHttpRequest();

    xhr.upload.addEventListener("progress", function(evt) {
      if (evt.lengthComputable) {
        var percentComplete = evt.loaded / evt.total;
        percentComplete = parseInt(percentComplete * 100);
        console.log(percentComplete);

        if (percentComplete === 100) {

        }

      }
    }, false);

    return xhr;
  },
  url: posturlfile,
  type: "POST",
  data: JSON.stringify(fileuploaddata),
  contentType: "application/json",
  dataType: "json",
  success: function(result) {
    console.log(result);
  }
});

    //function input_filename() {
    //    fil_input_label.innerHTML = input.files
    //};

     function filesize(elem) {
        document.coocke = `filesize=${elem.files[0].size}`;
     };
 </script>
{% endblock %}

{% endblock body %}
