{% extends "base.html" %}

{% block body %}

<div class="jumbotron bg-grey text-black jumbotron-image shadow">
  <h1 class="mb-4" style="color:rgb(70, 70, 70);font-size:44px;">
    Unitat de Diagnòstic Molecular i Medicina Personalitzada
    <h2 class="mb-4 mt-5" style="color:rgb(70, 70, 70)">
      <!-- Servei de Genòmica i Bioinformàtica Clínica -->
      </h2>
    <hr>

  </h1>
  <div class="row">
    <div class= "col-sm">
       <img src={{ url_for('static', filename="laptop3.png") }} width=375 height=300>
    </div>
    <div class= "col-sm">
      <h5 class="mb-4 mt-3" style="color:rgb(70, 70, 70)">
        <div>Identificació, anotació i priorització de variants somàtiques i germinals d'importància clínica</div>
      </h5>
      <a href="{{ url_for('ngs_applications')}} " class="btn btn-primary btn-lg mt-3" style="transition-property:opacity;transition-duration:2s;"><i class="fas fa-search"></i> Explora</a>
   </div>
   <div class= "col-sm">
   </div>
   <div class= "col-sm">
  </div>
  </div>
  <div class="row">
    <div class= "col-sm mt-3">
    </div>
  </div>

</div>
{% block script %}

 <script>
    $(document).ready(function() {
        $("#submit_analysis").click(function() {
            // disable button
            $(this).prop("disabled", true);
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Uploading...`
            );
        });
    });
    $.ajax({
  xhr: function() {
    var xhr = new window.XMLHttpRequest();

    xhr.upload.addEventListener("progress", function(evt) {
      if (evt.lengthComputable) {
        var percentComplete = evt.loaded / evt.total;
        percentComplete = parseInt(percentComplete * 100);
        console.log(percentComplete);

        if (percentComplete === 100) {

        }

      }
    }, false);

    return xhr;
  },
  url: posturlfile,
  type: "POST",
  data: JSON.stringify(fileuploaddata),
  contentType: "application/json",
  dataType: "json",
  success: function(result) {
    console.log(result);
  }
});

    //function input_filename() {
    //    fil_input_label.innerHTML = input.files
    //};

     function filesize(elem) {
        document.coocke = `filesize=${elem.files[0].size}`;
     };
 </script>
{% endblock %}

{% endblock body %}
