{% extends "base.html" %}

{% block body %}





<div class="d-flex justify-content-center">

  <div class="container-fluid rounded mt-4" style="background-color:white; width:60%">
      <div class="stepper-wrapper" style="margin:0 auto;width:80%">
        <div class="stepper-item current">
          <div class="step-counter">1</div>
          <div class="step-name active" >Nou panell</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter">2</div>
          <div class="step-name inactive">Anotació Genòmica</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter">3</div>
          <div class="step-name inactive">Selecció Gen-Isoforma</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter">4</div>
          <div class="step-name inactive">Regions d'anàlisi</div>
        </div>

        <!-- <div class="stepper-item">
          <div class="step-counter">5</div>
          <div class="step-name inactive">Subpanells</div>
        </div> -->
        <div class="stepper-item">
          <div class="step-counter">5</div>
          <div class="step-name inactive">Finalitza</div>
        </div>
    </div>
    <div class="container mt-3" style="width:100%; float:right;">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category,message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <br>
          </div>
          {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="card card-body border-0 mt-3" style="margin:0 auto;width:70%;background-color:rgb(248, 248, 248);">

     <form action="{{ url_for('panel_summary')}} " method="POST" enctype="multipart/form-data" id="update_panel">
       <h2 class="card-title">Nou panell</h2>
       <hr>

      <div class="row">
        <div class="col-6">
           <div style="width:100%;margin:0 auto;">
              <label for="panel_id1"><b>Nom panell:</b></label>
              <div class="input-group mb-3">
                  <input type="text" value="" name="panel_name" class="form-control" required></input>
                  <div class="invalid-feedback">
                      Es requereix un nom!
                  </div>
              </div>
           </div>
        </div>

        <div class="col-6">
          <div style="width:100%;margin:0 auto;">
                <label for="panel_version"><b>Versió:</b></label>
                <div class="input-group mb-3">
                    <input type="text" value="" name="panel_version" class="form-control" required></input>
                </div>
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col">
            <div style="width:100%;margin:0 auto;">
                <label for="panel_id1"><b>Id1:</b></label>
                <div class="input-group mb-3">
                    <input type="text" value="" name="panel_ext1_id" class="form-control"></input>
                    <div class="invalid-feedback">
                      Es requereix un nom!
                    </div>
                </div>
             </div>
        </div>
        <div class="col">
            <div style="width:100%;">
                <label for="panel_id1"><b>Id2:</b></label>
                <div class="input-group mb-3">
                    <input type="text" value="" name="panel_ext2_id" class="form-control"></input>
                    <div class="invalid-feedback">
                      Es requereix un nom!
                    </div>
                </div>
             </div>
        </div>
      </div>


      <div class="row mt-3">

        <div class="col">
            <label for="panel_name"><b>Regions de captura (BED)</b></label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input  type="file" name="panel_bed" class="custom-file-input" id="panel_bed" lang="ca">
                    <label class="custom-file-label" id="panel_label" for="inputGroupFile01">Selecciona un fitxer BED</label>
                </div>
            </div>
        </div>
      </div>
       <div class="row" id="genes_textarea" style="display:none;">
         <div>Introdueix, per cada fila, un gen i una isoforma separats per comes:</div>
         <div class="input-group mb-3">
             <textarea type="text" name="gene_isoform_text" class="form-control" placeholder="Exemple: AKT1,ENST00000349310" id="gene_isoform_text"></textarea>
         </div>
       </div>
        <div class ="row mt-2">
            <div class="col">
                <button class="btn btn-primary float-right" type="submit" onsubmit="showAnnotationProgressModal();" href="">Següent</button>
            </div>
        </div>
     </form>
    </div>

</div>
{% block script %}
 <script>



   $('#specify_genes').on('change',function(){
        if ($(this).is(":checked")) {
          $('#genes_textarea').show();
       }
        else {
          $('#genes_textarea').hide();
        }
   })
   $('#panel_bed').on('change',function(){
       //get the file name
       var fileName = $(this).val();
       //replace the "Choose a file" label
       $(this).next('.custom-file-label').html(fileName);
   })

 </script>
{% endblock %}

{% endblock body %}
