{% extends "base.html" %}

{% block body %}

<div class="d-flex justify-content-center">

  <div class="container-fluid rounded" style="background-color:white; width:75%"> 
    <div class = "container mt-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category,message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <br>          
          </div>
          {% endfor %}                                       
      {% endif %}
      {% endwith %}
    </div>
    <div class="card card-body border-0 mt-3" style="background-color:rgb(248, 248, 248);">
          
      <h2 class="card-title">Llista de Panells</h2>
      <hr>
      <div class="row">
        <div class="col">
          <a href="{{ url_for('panel_creation_board') }}" class="btn btn-primary" role="button">
            Nou panell
          </a>          
          <!-- <a class="btn btn-secondary" data-toggle="collapse"  data-target="#petition_container" href="#petition_container" role="button" aria-expanded="true" aria-controls="petition_container">
            Veure llistat
          </a>             -->
        </div>
      </div>
      <div class="collapse show" id="petition_container">
      <div class="row" id="panel_row">
        <div class="container-fluid pt-1 rounded mb-3 mt-3" style="width:100%"> 
            <table id="panel_table" class="table table-striped table-bordered" style="background-color:white;width:100;font-size:16px;">
              <thead>
                <tr>
                  <th>Panell</th>
                  <!-- <th>Fitxer BED</th> -->
                  <th>Versió</th>
                  <th>Mida (Kb)</th>
                  <th>Versió genoma</th>
                  <th>Nº de ROIs</th>
                  <th>Nº de Gens</th>
                  <th>Accions</th>
                </tr>
              </thead>
              <tbody>
                {% for p in Panels %}
                <tr>
                  <td><a href="{{ url_for('panel_configuration', panel=p.Panel) }}"><b>{{ p.Panel }}</b></a></td>
                  <!-- <td>{{ p.Panel_bed }}</td> -->
                  <td>{{ p.Version }}</td>
                  <td>{{ p.Size }}</td>
                  <td>{{ p.Genome_version }}</td>
                  <td>{{ p.Total_rois }}</td>
                  <td>{{ p.Total_genes }}</td>
                  
                  <td> <a href="{{ url_for('panel_configuration', panel=p.Panel) }}" role="button"><i class="fas fa-edit fa-lg" style="color:rgb(109, 106, 106)"></i></a>
                    <a href="{{ url_for('delete_panel', panel=p.Panel) }}" role="button" onclick="return confirm('Vols eliminar aquest panell?');">
                      <i class="fas fa-trash fa-lg" style="color: rgba(209, 20, 20, 0.938)"></i>
                    </a>
                  </td>
                </tr>
               {% endfor %} 
              </tbody>
            </table>
        </div>
      </div> 
      </div>

    </div>
  </div>
</div>
{% block script %}
 <script>
    $(document).ready(function() {
        $("#submit_analysis").click(function() {
            // disable button
            $(this).prop("disabled", true);
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Uploading...`
            );
        });
    });
    $.ajax({
  xhr: function() {
    var xhr = new window.XMLHttpRequest();

    xhr.upload.addEventListener("progress", function(evt) {
      if (evt.lengthComputable) {
        var percentComplete = evt.loaded / evt.total;
        percentComplete = parseInt(percentComplete * 100);
        console.log(percentComplete);

        if (percentComplete === 100) {

        }

      }
    }, false);

    return xhr;
  },
  url: posturlfile,
  type: "POST",
  data: JSON.stringify(fileuploaddata),
  contentType: "application/json",
  dataType: "json",
  success: function(result) {
    console.log(result);
  }
});

    //function input_filename() {
    //    fil_input_label.innerHTML = input.files
    //};

     function filesize(elem) {
        document.coocke = `filesize=${elem.files[0].size}`;
     };
 </script>
{% endblock %} 

{% endblock body %}