{% extends "base.html" %}

{% block body %}


<!-- <div class="container-fluid rounded" style="background-color:white; width:65%"> -->
  <div class="d-flex" >
    <!-- Sidebar -->
    <div class="bg-light border-right vh-100" id="sidebar-wrapper"style="position:fixed;width:14%;">
      <div class="list-group list-group-flush">
        <a href="#General_info" class="list-group-item list-group-item-action bg-light"><i class="fas fa-info-circle"></i> General</a>
        <a href="#identifiers" class="list-group-item list-group-item-action bg-light"><i class="fas fa-external-link-alt"></i> Identificadors</a>
        <a href="#frequencies" class="list-group-item list-group-item-action bg-light"><i class="fas fa-globe-europe"></i> Freq. poblacionals</a>
        <a href="#clinvar" class="list-group-item list-group-item-action bg-light"><i class="fas fa-book"></i> Clinvar</a>
        <a href="#civic" class="list-group-item list-group-item-action bg-light"><i class="fas fa-book"></i> Civic</a>

        <a href="#predictors_missense" class="list-group-item list-group-item-action bg-light"><i class="fas fa-sitemap" style="color:rgb(85, 1, 1);"></i> Predictors missense</a>
        <a href="#predictors_splicing" class="list-group-item list-group-item-action bg-light"><i class="fas fa-sitemap" style="color:rgb(14, 1, 85);"></i> Predictors splicing</a>
        <a href="#conservation" class="list-group-item list-group-item-action bg-light"><i class="bi bi-bezier2"></i> Conservació</a>
        <a href="#igv" class="list-group-item list-group-item-action bg-light"><i class="bi bi-bar-chart-steps"></i> IGV</a>
      </div>
    </div>

  <div class="container-fluid" style="background-color:white; width:70%">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item"><a href= "{{url_for('status') }}">Resultats</a></li>

      <li class="breadcrumb-item"><a href= "{{url_for('show_run_details', run_id=sample_info.run_id) }} ">{{ sample_info.run_id }}</a></li>
      <li class="breadcrumb-item"><a href= "{{url_for('show_sample_details',run_id=sample_info.run_id, sample=sample_info.lab_id,sample_id=sample_info.id,active='Therapeutic') }} ">{{ sample_info.lab_id }}</a></li>
      <li class="breadcrumb-item active" aria-current="page"><h5>{{ var_name }}</h5></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col">
      <h4>{{ var_name }}</h4>
    </div>
  </div>
  <hr>

  <div class="row" id="General_info">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> General</b></h5>
      <table>
        <tr>
          <td style="padding-right:20px;">Gene:</td>
          <td style="padding-right:20px;">
            <a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene={{ variant_dict['INFO']['CSQ'][0]['SYMBOL'] }} "><b><i>{{ variant_dict['INFO']['CSQ'][0]['SYMBOL'] }}</i></b></a>
          </td>
        </tr>
        <tr>
          <td style="padding-right:20px;">Isoforma:</td>
          <td style="padding-right:20px;">{{ variant_dict['INFO']['CSQ'][0]['Feature']}}</td>
        </tr>
        <tr>
          <td style="padding-right:20px;">Exó:</td>
          <td style="padding-right:20px;">{{ variant_dict['INFO']['CSQ'][0]['EXON'] }}</td>
        </tr>
      </table>
    </div>
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> Codis HGVS</b></h5>
      <table>
        <tr>
          <td style="padding-right:20px;">HGVSp:</td>
          <td style="padding-right:20px;">{{variant_dict['INFO']['CSQ'][0]['HGVSp']}}</td>
        </tr>
        <tr>
          <td style="padding-right:20px;">HGVSc:</td>
          <td style="padding-right:20px;">{{variant_dict['INFO']['CSQ'][0]['HGVSc']}}</td>
        </tr>
        <tr>
          <td style="padding-right:20px;">HGVSg:</td>
          <td style="padding-right:20px;">{{variant_dict['INFO']['CSQ'][0]['HGVSg']}}</td>
        </tr>
      </table>
    </div>
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> Característiques</b></h5>
      <table>
        <tr>
          <td style="padding-right:20px;">Efecte:</td>
          <td style="padding-right:20px;">{{variant_dict['INFO']['CSQ'][0]['Consequence']}}</td>
        </tr>
        <tr>
          <td style="padding-right:20px;">Localització:</td>
          <td style="padding-right:20px;">{{variant_dict['INFO']['CSQ'][0]['BIOTYPE']}}</td>
        </tr>
        <!-- <tr>
          <td style="padding-right:20px;">ClinVar:</td>
          <td style="padding-right:20px;">{{ variant_dict['INFO']['CSQ'][0]['CLIN_SIG'] | replace("&", ",") | replace("_", " ") }}</td>
        </tr> -->
      </table>
    </div>
  </div>
  <div class="row mt-4" id="identifiers">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> Identificadors</b></h5>
      <div class="text">
      {% set list_id = variant_dict['INFO']['CSQ'][0]['Existing_variation'].split(',')  %}
      {% if list_id|length < 10   %}
        {% for item in list_id %}
          <a href="https://www.ncbi.nlm.nih.gov/snp/{{item}}">{{ item }}</a>
        {% endfor %}
      {% else %}
       {% for n in range(1,10) %}
        <a href="https://www.ncbi.nlm.nih.gov/snp/{{list_id[n]}}">{{ list_id[n] }}</a>
       {% endfor %}
       <br>
       <div class="collapse" id="collapseId">
          {% for n in range(10,list_id|length) %}
          <a href="https://www.ncbi.nlm.nih.gov/snp/{{list_id[n]}}">{{ list_id[n] }}</a>
          {% endfor %}
       </div>
       <a class="btn btn-primary" data-toggle="collapse" href="#collapseId" role="button" aria-expanded="false" aria-controls="collapseId">Mostra <i class="fas fa-plus fa-xs"></i></a>
      {% endif %}

      </div>
    </div>
  </div>
  <div class="row mt-4" id="frequencies">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> Freqüències poblacionals</b></h5>
      <table class="table table-hover table-sm">
        <thead>
          <th>gnomAD</th>
          <th>Allele num.</th>
          <th>Allele count</th>
          <th>Allele Freq.</th>
        </thead>
        <tbody>
        <tr>
          <td style="">African:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AN_afr']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AC_afr']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AF_afr']}}</td>
        </tr>
        <tr>
          <td style="">American:</td>
          <td style="">.</td>
          <td style="">.</td>
          <td style="">.</td>
        </tr>
        <tr>
          <td style="">Non-Finnish European:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AN_nfe']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AC_nfe']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AF_nfe']}}</td>
        </tr>
        <tr>
          <td style="">Finnish:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AN_fin']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AC_fin']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AF_fin']}}</td>
        </tr>
        <tr>
          <td style="">East Asian:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AN_eas']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AC_eas']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AF_eas']}}</td>
        </tr>
        <tr>
          <td style="">Ashkenazi Jewish:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AN_asj']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AC_asj']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AF_asj']}}</td>
        </tr>
        <tr>
          <td style="">Other:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AN_oth']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AC_oth']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['GNOMAD_AF_oth']}}</td>
        </tr>
      </tbody>
      </table>
      Max AF: {{variant_dict['INFO']['CSQ'][0]['Max_AF']}} Max AF Pop.: {{ variant_dict['INFO']['CSQ'][0]['Max_AF_Pop'] }}
    </div>
    <div class="col">
      <h5><b>  </b></h5>
      <br>
      <table class="table table-hover table-sm">
        <thead>
          <th>1000Genomes</th>
          <th>Allele Num.</th>
          <th>Allele Count</th>
          <th>Allele Freq.</th>
        </thead>
        <tbody>
        <tr>
          <td style="">African:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['AFR_AN']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['AFR_AC']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['AFR_AF']}}</td>
        </tr>
        <tr>
          <td style="">American:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['AMR_AN']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['AMR_AC']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['AMR_AF']}}</td>
        </tr>
        <tr>
          <td style="">European:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['EUR_AN']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['EUR_AC']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['EUR_AF']}}</td>
        </tr>
        <tr>
          <td style="">South Asian:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['SAS_AN']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['SAS_AC']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['SAS_AF']}}</td>
        </tr>
        <tr>
          <td style="">East Asian:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['EAS_AN']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['EAS_AC']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['EAS_AF']}}</td>
        </tr>
        <tr>
          <td style="">Other:</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['OTH_AN']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['OTH_AC']}}</td>
          <td style="">{{variant_dict['INFO']['CSQ'][0]['OTH_AF']}}</td>
        </tr>
      </tbody>
      </table>
      <br>
    </div>
  </div>
  <!-- <div class="row mt-4" id="pubmed">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> Pubmed</b></h5>
      <div class="text">
      {% set list_pubmed = variant_dict['INFO']['CSQ'][0]['PUBMED'].split('&')  %}
      {% if list_pubmed|length < 10  %}
        {% for item in list_pubmed %}
          <a href="https://pubmed.ncbi.nlm.nih.gov/{{ item }}">{{ item }}</a>
        {% endfor %}
      {% else %}
       {% for n in range(1,10) %}
        <a href="https://pubmed.ncbi.nlm.nih.gov/{{ list_pubmed[n] }}">{{ list_pubmed[n] }}</a>
       {% endfor %}
       <br>
       <div class="collapse" id="collapsePubmed">
        {% for n in range(10,list_pubmed|length) %}
        <a href="https://pubmed.ncbi.nlm.nih.gov/{{ list_pubmed[n] }}">{{ list_pubmed[n] }}</a>
        {% endfor %}
       </div>
      {% endif %}
      {% set missing = list_pubmed|length - 10 %}
      {% if missing >= 10 %}
        <a class="btn btn-primary" data-toggle="collapse" href="#collapsePubmed" role="button" aria-expanded="false" aria-controls="collapsePubmed">Mostra <span class="badge badge-light">{{ missing }}</span></a>
      {% endif %}
      </div>
    </div>
  </div> -->

  <div class="row mt-4" id="clinvar">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> ClinVar</b></h5>
         {% if 'clinvar' in myvariant_info %}
         <table class="table table-hover table-sm" style="font-size:15px">
           <tr>
             <th style="padding-right:20px;">Accession:</th>
             <th style="padding-right:20px;">Clinical Significance:</th>
             <th style="padding-right:20px;">Conditions:</th>
             <th style="padding-right:20px;">Review Status:</th>
           </tr>

          {% if myvariant_info['clinvar']['rcv'] is string %}
          <tr>
            {% set item = myvariant_info['clinvar']['rcv'] %}
            <td> <a href="https://www.ncbi.nlm.nih.gov/clinvar/{{ item['accession'] }}">
            {{ item['accession'] }}</a><br><small>{{ item['last_evaluated']}}</small></td>
            {% set color = "" %}
            {% if "Pathogenic" in item['clinical_significance']%}
              {% set color = "red" %}
            {% endif %}
            {% if item['clinical_significance'] == "Likely pathogenic" %}
              {% set color = "#ff726f" %}
            {% endif %}
            {% if "Uncertain" in item['clinical_significance'] %}
              {% set color = "grey" %}
            {% endif %}
            {% if "Benign" in item['clinical_significance'] %}
              {% set color = "green" %}
            {% endif %}
            <td style="color:{{color}}"> {{ item['clinical_significance'] }}</td>
            <td> {{ item['conditions']['name'] }}</td>
            <td> {{ item['review_status'] }}</td>
          </tr>
          {% else %}
           {% if 'rcv' in myvariant_info['clinvar'] %}
            {% for item in myvariant_info['clinvar']['rcv'] %}
              {% if item is not mapping %}
                
              {% else %}           
                <tr>
                  <td> <a href="https://www.ncbi.nlm.nih.gov/clinvar/{{ item['accession'] }}">
                    {{ item['accession'] }}</a><br><small>{{ item['last_evaluated']}}</small></td>
                  {% set color = "" %}
                  {% if "Pathogenic" in item['clinical_significance']%}
                    {% set color = "red" %}
                  {% endif %}
                  {% if item['clinical_significance'] == "Likely pathogenic" %}
                    {% set color = "#ff726f" %}
                  {% endif %}
                  {% if "Uncertain" in item['clinical_significance'] %}
                    {% set color = "grey" %}
                  {% endif %}
                  {% if "Benign" in item['clinical_significance'] %}
                    {% set color = "green" %}
                  {% endif %}
                  <td style="color:{{color}}"> {{ item['clinical_significance'] }}</td>
                  {% set conditions = "." %}
                  {% if 'conditions' in item %}
                    {% if 'name' in item['conditions'] %}
                      {% set conditions = item['conditions']['name'] %}
                    {% endif %}
                  {% endif %}
                  <td> {{ conditions }}</td>
                  <td> {{ item['review_status'] }}</td>
                </tr>
              {% endif %}
            {% endfor %}
           {% endif %}
          {% endif %}
          {% else %}
            <p> No s'han trobat entrades a ClinVar </p>
          {% endif %}
      </table>
    </div>
  </div>

  <div class="row mt-4" id="civic">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> CIViC</b></h5>
     </div>
  </div>

  <div class="row" id="">
    
    <div style="display: flex;flex-wrap: wrap;">
      {% if variant_dict['INFO']['CIVIC']|length == 0 %}
        <p style="margin-left:15px;">No s'han trobat resultats</p>
      {% endif %}
    {% for civic_item in variant_dict['INFO']['CIVIC'] %}
      {% set bg_color = "white" %}
      {% if civic_item['EV_SIGNIFICANCE'] == "Sensitivity/Response" %}
        {% set bg_color = "#d2f8d2" %}
      {% elif civic_item['EV_SIGNIFICANCE'] == "Positive" %}
        {% set bg_color = "white" %}
      {% elif civic_item['EV_SIGNIFICANCE'] == "Resistance" %}
        {% set bg_color = "#ffcccb" %}
      {% else %}
        {% set bg_color = "lightgrey" %}
      {% endif %}
      {% set clinical_trial = "" %}
      {% if civic_item['EV_CLINICAL_TRIALS'] != "." %}
        {% set clinical_trial = civic_item['EV_CLINICAL_TRIALS'] %}
      {% endif %}
      <div class="col">
      <div class="card m-1 p-1" style="min-width:140px;max-width:200px;flex: 1 1 160px; background-color:#f6f6f6">
        <a href="https://civicdb.org/evidence/{{civic_item['EV_ID']}}/summary" style="margin:0px auto;font-size:12px;"lass="badge badge-sm ">EID{{civic_item['EV_ID']}}</a><hr style="margin:0px;">
        <p style="padding:0px;margin:0 auto;"><span class="badge " style="background-color:{{ bg_color }}">{{ civic_item['EV_SIGNIFICANCE'] | replace("_", " ") }}</span></p>
        <p style="padding:0px;margin:0 auto;"><small><img src="https://cdn-icons-png.flaticon.com/512/2852/2852868.png" width="20px" height="20px;">{{ civic_item['EV_DISEASE'] | replace("_", " ") }}</small></p>
        <a href="https://clinicaltrials.gov/ct2/history/{{ clinical_trial }}" style="padding:0px;margin:0 auto;"><small>{{ clinical_trial }}</small></a>
      </div>
      </div>
      {% endfor %}
   
  </div>
  </div>

  <div class="row mt-4" id="predictors_missense">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> Predictors In-silico (missense)</b></h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start">

        <!-- <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
          <h5 class="card-title"><b>SIFT</b></h5>
          <hr>
          {% set sift_score_list =  variant_dict['INFO']['CSQ'][0]['SIFT'].split('&') %}
          {% set sift_pred_list =  variant_dict['INFO']['CSQ'][0]['SIFT_pred'].split('&') %}
          <p class="card-text"> Score:  </p>
          {% for item in sift_score_list %}
            {% if item != '.' %}
              {{ item }}
            {% endif %}
          {% endfor %}
          <br>
          {% for item in sift_pred_list %}
            {% if item != '.' %}
              {% if item == 'D' %}
                <span class="badge badge-pill badge-danger" style="background-color:red">D</span>
              {% else %}
                <span class="badge badge-pill badge-secondary" style="background-color:grey">B</span>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>
        </div>
        <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
          <h5 class="card-title"><b>Polyphen</b></h5>
          <hr>
          {% set polyphen_score_list =  variant_dict['INFO']['CSQ'][0]['Polyphen2_HDIV_score'].split('&') %}
          {% set polyphen_pred_list =  variant_dict['INFO']['CSQ'][0]['Polyphen2_HDIV_pred'].split('&') %}
          <p class="card-text"> Score: </p>

          {% for item in polyphen_score_list %}
            {% if item != '.' %}
              {{ item }}
            {% endif %}
          {% endfor %}
          <br>
          {% for item in polyphen_pred_list %}
            {% if item != '.' %}
              {% if item == 'D' %}
                <span class="badge badge-pill badge-danger" style="background-color:red">D</span>
              {% else %}
                <span class="badge badge-pill badge-secondary" style="background-color:grey">B</span>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>
        </div>

        <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
          <h5 class="card-title"><b>PROVEAN</b></h5>
          <hr>
          {% set provean_score_list =  variant_dict['INFO']['CSQ'][0]['PROVEAN_score'].split('&') %}
          {% set provean_pred_list =  variant_dict['INFO']['CSQ'][0]['PROVEAN_pred'].split('&') %}
          <p class="card-text"> Score: </p>

          {% for item in provean_score_list %}
            {% if item != '.' %}
              {{ item }}
            {% endif %}
          {% endfor %}
          <br>
          {% for item in provean_pred_list %}
            {% if item != '.' %}
              {% if item == 'D' %}
                <span class="badge badge-pill badge-danger" style="background-color:red">D</span>
              {% else %}
                <span class="badge badge-pill badge-secondary" style="background-color:grey">B</span>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>
        </div> -->

        <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
            <h5 class="card-title"><b>FATHMM</b></h5>
            <hr>
            {% set fathmm_score_list =  variant_dict['INFO']['CSQ'][0]['FATHMM_score'].split('&') %}
            {% set fathmm_pred_list =  variant_dict['INFO']['CSQ'][0]['FATHMM_pred'].split('&') %}
            <p class="card-text"> Score: </p>
            {% for item in fathmm_score_list %}
              {% if item != '.' %}
                {{ item }}
              {% endif %}
            {% endfor %}
            <br>
            {% for item in fathmm_pred_list %}
              {% if item != '.' %}
                {% if item == 'D' %}
                  <span class="badge badge-pill badge-danger" style="background-color:red">D</span>
                {% else %}
                  <span class="badge badge-pill badge-secondary" style="background-color:grey">B</span>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
          <h5 class="card-title"><b>MutationTaster</b></h5>
          <hr>

          {% set mutationtaster_score_list =  variant_dict['INFO']['CSQ'][0]['MutationTaster_score'].split('&') %}
          {% set mutationtaster_pred_list =  variant_dict['INFO']['CSQ'][0]['MutationTaster_pred'].split('&') %}
          <p class="card-text"> Score: </p>
          {% for item in mutationtaster_score_list %}
            {% if item != '.' %}
              {{ item }}
            {% endif %}
          {% endfor %}
          <br>
          {% for item in mutationtaster_pred_list %}
            {% if item != '.' %}
              {% if item == 'D' %}
                <span class="badge badge-pill badge-danger" style="background-color:red">D</span>
              {% else %}
                <span class="badge badge-pill badge-secondary" style="background-color:grey">N</span>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>
        </div>
        <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
          <h5 class="card-title"><b>REVEL</b></h5>
          <hr>
          <p class="card-text"> Score: </p>
          {{ variant_dict['INFO']['CSQ'][0]['REVEL_score'] }}
          <br>
          {% if variant_dict['INFO']['CSQ'][0]['REVEL_score'] | float  > 0.5 %}
            <span class="badge badge-pill badge-danger" style="background-color:red">D</span>
          {% else %}
            {% if variant_dict['INFO']['CSQ'][0]['REVEL_score'] != '.' %}
            <span class="badge badge-pill badge-danger" style="background-color:grey">B</span>
            {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" id="predictors_splicing">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> Predictors In-silico (splicing)</b></h5>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="d-flex justify-content-start">
        <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
          <h5 class="card-title"><b>spliceAI</b></h5>
          <hr>
          <table>
            <tbody>
              <tr>
                <td>Acceptor gain score:</td><td>{{ variant_dict['INFO']['CSQ'][0]['SpliceAI_pred_DS_AG'] }}</td>
              </tr>
              <tr>
                <td>Acceptor loss score:</td><td>{{ variant_dict['INFO']['CSQ'][0]['SpliceAI_pred_DS_AL'] }}</td>
              </tr>
              <tr>
                <td>Donor gain score:</td><td>{{ variant_dict['INFO']['CSQ'][0]['SpliceAI_pred_DS_DG'] }}</td>
              </tr>
              <tr>
                <td>Donor loss score:</td><td>{{ variant_dict['INFO']['CSQ'][0]['SpliceAI_pred_DS_DL'] }}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
            <h5 class="card-title"><b>MaxEntScan</b></h5>
            <hr>
            <p class="card-text"> Score: {{ variant_dict['INFO']['CSQ'][0]['MaxEntScan_diff'] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" id="conservation">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> Conservació:</b></h5>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="d-flex justify-content-start">
        <div class="card mr-1" style="background-color:#f6f6f6">
          <div class="card-body">
          <h5 class="card-title"><b>PhyloP</b></h5>
          <hr>
          <p class="card-text"> Predicció: {{ variant_dict['INFO']['CSQ'][0]['PhyloP']| float|round(2) }}</p>
          </div>
        </div>
        <div class="card mr-1" style=background-color:#f6f6f6">
          <div class="card-body">
          <h5 class="card-title"><b>Phastcons</b></h5>
          <hr>
          <p class="card-text"> Predicció: {{ variant_dict['INFO']['CSQ'][0]['Phastcons']| float|round(2) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" id="igv">
    <div class="col">
      <h5><b><i class="fas fa-angle-right"></i> IGV</b></h5>
      <div id='igvDiv' style="margin-bottom:100px;"></div>
    </div>
  </div>
  </div>
</div>

{% block script %}
<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function () {
    const options =
        {
            locus: "{{ locus }} ",
            genome: "hg19",
            tracks:[
              {
                type:'alignment',
                format: 'bam',
                url : "{{ url_for('download_sample_bam', run_id=sample_info.run_id, sample=sample_info.lab_id) }}" ,
                indexURL: "{{ url_for('download_sample_bai', run_id=sample_info.run_id, sample=sample_info.lab_id) }}"
              }
            ]
        };

    const igvDiv = document.getElementById('igvDiv');
    igv.createBrowser(igvDiv, options)
        .then(function (browser) {
            igv.browser = browser;
            console.log("Created IGV browser");
        })
  });

 </script>
{% endblock %}

{% endblock body %}
